@model QuanLyNhanSu.Models.Quyen

@{
    ViewData["Title"] = "Thêm mới quyền truy cập";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-xl">
        <div class="card mb-4">
            <div class="card-header d-flex justify-content-between align-items-center">
                <h5 class="mb-0">Thêm mới quyền truy cập</h5>
            </div>
            <div class="card-body">
                <form asp-controller="Quyens" asp-action="Create" method="post">
                    <div class="mb-3">
                        <label class="form-label" for="basic-default-fullname">Tên quyền hạn</label>
                        <input type="text" class="form-control" asp-for="TenQuyen" />
                    </div>
                    <div class="form-group">
                        <a href="/Quyens" class="btn btn-danger">Quay lại</a>
                        <button type="submit" class="btn btn-primary">Thêm mới</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
