@model IEnumerable<QuanLyNhanSu.Models.Quyen>

@{
    ViewData["Title"] = "Quản lý quyền truy cập";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="card">
    <h5 class="card-header">Quản lý quyền truy cập</h5>
    <div style="text-align: right; padding-right: 20px;">
        <a href="/Quyens/Create" class="btn btn-primary">Thêm mới</a>
    </div>
    <div class="table-responsive text-nowrap">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>mã quyền</th>
                    <th>Tên quyền</th>
                </tr>
            </thead>
            <tbody class="table-border-bottom-0">
                @if (Model != null && Model.Count() > 0)
                {
                    foreach (var item in Model)
                    {
                        <tr>
                            <th scope="row">@item.MaQuyen</th>
                            <th>@item.TenQuyen</th>
                            <td>
                                <a href="/Quyens/Edit/@item.MaQuyen" class="btn btn-primary">Sửa</a>
                                <a href="/Quyens/Delete/@item.MaQuyen" class="btn btn-danger">Xóa</a>
                            </td>
                        </tr>
                    }
                }
            </tbody>
        </table>
    </div>
</div>